#main_table {
    border-collapse: collapse;
}
#main_table th {
    border: 1px solid red;
}
#main_table td {
    border: 1px solid green;
}

.block_inline {
    display: inline-block;
}

.page_button {
    display: inline-block;
    padding-left: 2px;
    padding-right: 2px;
}

.page_button:hover {
    background-color: gray;
    cursor: pointer;
}

.page_button_selected {
    background-color: blue;
}